[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target
Documentation=https://docs.mongodb.org/manual

[Service]
User=gio
ExecStart=/home/gio/Documents/_applications/mongodb-linux-x86_64-ubuntu1804-4.2.0/bin/mongod --auth --config /home/gio/Documents/_applications/mongodb-linux-x86_64-ubuntu1804-4.2.0/config/mongodb.conf
Restart=always

[Install]
WantedBy=multi-user.target
